.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 0 40px 20px 40px;
  scrollbar-width: thin;
  scrollbar-color: #000 #f4f4f4;
}

.carousel-container::-webkit-scrollbar {
  height: 6px;
}

.carousel-container::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
  margin: 0 40px;
}

.carousel-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
  border: 1px solid #f4f4f4;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}