  .floating-chat-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    /* Fica acima de tudo */
    transition: transform 0.3s ease;
  }

  .floating-chat-btn:hover {
    transform: scale(1.1);
  }

  .chat-icon {
    color: white;
    font-size: 28px;
    font-style: italic;
    font-weight: 900;
  }