<link rel="stylesheet" href="/css/nav.css" />

<header>
  <div class="mobile-menu-btn">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="logo"><a href="#">PILGRIM</a></div>
  <ul class="nav-links">
    <li>
      <a href="#"
        ><span class="roll-container"
          ><span class="roll-text">LOJA</span
          ><span class="roll-text">LOJA</span></span
        ></a
      >
    </li>
    <li>
      <a href="#"
        ><span class="roll-container"
          ><span class="roll-text">COLEÇÕES</span
          ><span class="roll-text">COLEÇÕES</span></span
        ></a
      >
    </li>
    <li>
      <a href="#"
        ><span class="roll-container"
          ><span class="roll-text">LANÇAMENTOS</span
          ><span class="roll-text">LANÇAMENTOS</span></span
        ></a
      >
    </li>
    <li>
      <a href="#" class="sale"
        ><span class="roll-container"
          ><span class="roll-text">SALE</span
          ><span class="roll-text">SALE</span></span
        ></a
      >
    </li>
  </ul>
  <div class="nav-actions">
    <div class="search-box">
      <input type="text" placeholder="Procurar" /><i
        class="fa-solid fa-magnifying-glass"
      ></i>
    </div>
    <a href="#" class="action-item"
      ><i class="fa-regular fa-heart"></i><span>Wishlist</span></a
    >
    <a href="#" class="action-item"
      ><i class="fa-regular fa-user"></i><span>Entrar</span></a
    >
    <button
      onclick="toggleCart()"
      class="action-item button-open-cart-list cart-icon-container"
    >
      <i class="fa-solid fa-bag-shopping"></i>
      <div class="cart-count" id="cart-count">0</div>
    </button>
  </div>
</header>

<div class="overlay"></div>
<div class="mobile-drawer" id="mobileDrawer">
  <div class="drawer-header">
    <span style="font-weight: 900; font-style: italic">MENU</span
    ><i class="fa-solid fa-xmark close-btn""></i>
  </div>
  <ul class="mobile-links">
    <li><a href="#">Loja</a></li>
    <li><a href="#">Coleções</a></li>
    <li><a href="#">Lançamentos</a></li>
    <li><a href="#" style="color: #d32f2f">Sale</a></li>
  </ul>
</div>

<script type="module" src="/scripts/header.js"></script>
<script type="module" src="/features/toggleCart.js"></script>
<script type="module">
  import { toggleMenu } from "../features/toggleMenu.js";

  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.querySelector(".mobile-menu-btn");
    const overlay = document.querySelector(".overlay");
    const closeBtns = document.querySelectorAll(".close-btn");

    menuBtn.addEventListener("click", toggleMenu);
    overlay.addEventListener("click", toggleMenu);
    closeBtns.forEach((btn) => btn.addEventListener("click", toggleMenu));
  });
</script>
